:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letter-button {
    width: 40px;
    height: 40px;
}

.welcome-header {
    letter-spacing: 9px;

    font-size: 22pt;
}
